@model OdeToFood.Data.Models.RestaurantModel
@{
    ViewBag.Title = "Details";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
<h2>Details</h2>

<table class="table">
    <tr>
        <th>Restaurant</th>
        <th>Cousine Type</th>
    <tr>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Menu</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

