@model OdeToFood.Data.Models.RestaurantModel

<table class="table">
    <tr>
        <th>
            @Model.Name
        </th>
        <th></th>
    

        <td>@Html.DisplayFor(modelrestaurant => Model.Menu)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </td>
    </tr>
</table>

